* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

/* NAVBAR */

.navbar {
  width: 100%;
  padding: 20px 8%;

  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 20px;
}

/* SECTION */

.faq-section {
  padding: 70px 8%;
}

/* HEADER */

.faq-header {
  text-align: center;
  margin-bottom: 60px;
}

.tag {
  background-color: #e8dfcf;
  color: #8b6b3f;

  padding: 8px 16px;

  border-radius: 30px;

  font-size: 0.9rem;
}

.faq-header h1 {
  font-size: 3.5rem;
  margin: 30px 0 15px;
}

.faq-header p {
  color: #666;
  line-height: 1.7;
}

/* FAQ CONTAINER */

.faq-container {
  max-width: 900px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* ITEM */

.faq-item {
  background-color: white;

  padding: 30px;

  border-radius: 22px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);

  transition: 0.3s;
}

.faq-item:hover {
  transform: translateY(-4px);
}

.faq-item h3 {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.faq-item p {
  color: #666;
  line-height: 1.8;
}

/* RESPONSIVE */

@media (max-width: 950px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .faq-header h1 {
    font-size: 2.4rem;
  }

  .faq-item {
    padding: 22px;
  }
}

.logo:hover {
  color: black;
}
