* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

/* CONTAINER */

a {
  text-decoration: none;
  color: #eee;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 270px;
  background-color: #222;
  padding: 40px 25px;
  color: white;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.menu {
  list-style: none;
}

.menu li {
  margin-bottom: 20px;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.menu li a:hover,
.menu .active a {
  background-color: #c59d5f;
}

/* MAIN */

.main-content {
  flex: 1;
  padding: 40px;
}

/* TOP BAR */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.top-bar h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.top-bar p {
  color: #666;
}

.update-btn {
  padding: 15px 22px;
  border: none;
  border-radius: 12px;
  background-color: #222;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.update-btn:hover {
  background-color: #c59d5f;
}

/* CARDS */

.stats-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-bottom: 40px;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 12px;
}

.card p {
  color: #666;
}

.warning {
  border-left: 6px solid #d4a017;
}

.danger {
  border-left: 6px solid #b81d1d;
}

/* TABLE */

.table-section {
  background-color: white;
  border-radius: 20px;
  overflow-x: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 20px;
  text-align: left;
}

table th {
  background-color: #f5f5f5;
}

table tr {
  border-bottom: 1px solid #eee;
}

/* PRODUCT */

.product-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-info img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 12px;
}

/* STATUS */

.status {
  padding: 8px 15px;
  border-radius: 30px;
  font-size: 0.85rem;
  font-weight: 600;
}

.Disponible {
  background-color: #d7f7df;
  color: #198754;
}

.Bajo {
  background-color: #fff4d6;
  color: #d4a017;
}

.Agotado {
  background-color: #ffd6d6;
  color: #b81d1d;
}

/* BUTTON */

.edit-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  background-color: #d6ecff;
  color: #1d72b8;
  cursor: pointer;
  font-weight: 500;
}

/* RESPONSIVE */

@media (max-width: 950px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .top-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.logo:hover {
  color: purple;
}
